.sponsors {
    .flickity-button {
        background: none;

        &:hover {
            background: none;
        }
    }

    .flickity-prev-next-button.previous {
        left: -40px;
    }

    .flickity-prev-next-button.next {
        right: -40px;
    }

    .img-slide {
        // border: 1px solid #B1B1B1;
        height: 7.625rem;
        width: 10.625rem;
        
        img {
            filter: grayscale(100%);
            &:hover {
                filter: none;
            }
        }
    }
}


@include media-breakpoint-only (xs) {
    .sponsors {
        .flickity-button {
            background: $light;
    
            &:hover {
                background: $light;
            }
        }

        .flickity-prev-next-button.previous {
            left: 10px;
        }

        .flickity-prev-next-button.next {
            right: 10px;
        }
    }
}