.types {
    .types-overlay {
        position: relative;

        .bg-overlay {
            position: absolute;
            left: 0;
            top: 0;
            
            .bottom-left {
                position: absolute;
                bottom: 8px;
                left: 16px;
            }
        }
    }
}