// Body
$body-bg: #ffffff;
// $gray-bg: #E5E5E5;

// Typography
$font-family-sans-serif: 'Montserrat', sans-serif;
// $font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
// $light: rgb(185, 180, 180) !default;
// $light: #F5F5F5 !default;
$dark: #444444 !default;
$body-color: #202020 !default;

// $gray-600: #707070 !default;
$blue: #2371B7;
// $yellow: #EC9128;
$red: #E51C28;
// $cyan: #00A99D;

$text-muted: #707070 !default;
$light: #F5F5F5 !default;

$navbar-dark-hover-color: rgba(white, 1) !default;
$navbar-dark-color: rgba(white, 1) !default;
$navbar-dark-active-color: white !default;

$dropdown-link-color: white !default;
$dropdown-link-hover-color: rgba(#BBBBBB, 1) !default;

// $grid-gutter-width: 15px !default;